<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>tk</title>
    </head>

    <h1>list of comments</h1>

    <body>
        
        <script type = "text/javascript" src="/static/js/bundle.js"></script>
        <div id="reactEntry">Null</div>
        <!-- This form submits to the Flask view function named 'comment'.
            That view handles user input (like a submitted comment), and may call an API function to process the data.
            'url_for' ensures the correct route is used, even if the URL changes later. -->
        <form action="{{ url_for('get_comments') }}?target=/" method="post">
            <input type="text" name="link" id="linkInput" required/>
            <input type="submit" value="search"/>
            <input type="hidden" name="operation" value="search"> <!--You can’t rely on the submit button’s value being sent in every case, especially if the form is submitted via keyboard (e.g., pressing Enter). That’s why we use a separate hidden field like:-->
        </form>

        <a href="/comments?target=/" onclick="render_comments(); return false;">Fetch comments</a>
        

        <!-- dynamic later (first see how to impl)-->
        <a href="/livestream?target=/">Fecth live</a>

    
        <!-- Make a flaks templated comment for each file -->
        <!--<script type = "text/javascript" src="/static/js/bundle.js"></script>-->




    </body>


</html>